:root {
  font-family       : "VT323", monospace;
  font-weight       : 400;
  --primary-color   : #33ff99;
  --secondary-color : #278d5a;
  --tertiary-color  : #225f40;
  --background-color: #1b2520;
  scrollbar-color   : var(--primary-color) var(--secondary-color);
  font-size         : clamp(18px, 3vw, 30px);
}

* {
  /*Resets all margins and paddings to 0*/
  margin  : 0;
  padding : 0;
  /*Ensures padding and borders are included
    in elements's total width and height*/
  box-sizing  : border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: var(--background-color);
  background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
  animation: crtAnimation 100s linear infinite;
  background-size: 100% 80%;
}

div.retro-container {
  width   : 90%;
  height  : 90%;
  display : grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  padding : 1%;
  border  : 2px solid var(--tertiary-color);
  color   : var(--primary-color);
  mask-image: linear-gradient(to bottom, #0005 30%, #000 30%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}

main {
  overflow: hidden;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

nav {
  display: block;
  left  : 0;
  top : 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  
}

nav ul li {
  list-style: none;
  padding-left: 1vw;
  padding-right: 1vw;
  justify-content: space-around;
  transition: 0.5s;
}

nav ul li a {
  transition: 0.5s;
}

nav ul li a:hover {
  color: var(--primary-color);
}

nav ul li.active {
  color:var(--background-color);
  background-color: var(--secondary-color);
}

nav ul li.active a {
  color: var(--background-color); /* Change <a> color when its <li> is active */
}

h1 {
  font-family : "Press Start 2P", system-ui;
  font-size   : clamp(1em, 3vw, 2em);
}

h2{
  font-family: "Press Start 2P", system-ui;
}

p{
  margin-top: 2%;
}

section {
  height  : 81svh;
  overflow: hidden auto;

  display         : flex;
  flex-direction  : row-reverse;
  align-items     : center;
  justify-content : center;

}

div.info{
  height  : 100%;
  width   : 70%;
  
  order: 0;

  display : flex;
  flex-direction  : column;
  justify-content : center;
}

div.decorative{
  height  : 100%;
  width   : 30%;

  order: 1;

  display : flex;
  justify-content: center;
  align-items: center;
}


div.social-media{
  margin-top  : 2%;
  display     : grid;
  grid-template-columns: repeat(3, 1.5em);
}

.icons{
  fill        : var(--secondary-color);
  transition  : 0.5s;
}

.icons:hover{
  fill  : var(--primary-color);
}

@keyframes crtAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10000%;
  }
}

/* Wrapper for the sphere to control the perspective 
.wrapper {
  margin: 50px;
  perspective: 800px;
  perspective-origin: 50% 100px;
}*/

/* The sphere itself 
.sphere {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: spin 60s infinite linear; /* Animation for rotation 
}*/


#canvas {
  width: 30vw;
  height: 75%;
}

/* Styling for the div elements inside the sphere
.sphere > div {
  border: solid 5px var(--secondary-color) ;/* Green border
  border-radius: 50%;
  height: 200px;
  opacity: .8;
  position: absolute;
  width: 200px;
}

/* The equator of the sphere 
div.equator {
  transform: rotateX(90deg); /* Rotated 90deg around X axis 
}

/* Tropics (Cancer and Capricorn) 
div.tropic {
  height: 172px;
  margin: 14px;
  width: 172px;
}

div.cancer {
  transform: translateY(-50px) rotateX(90deg); /* Tropic of Cancer 
}

div.capricorn {
  transform: translateY(50px) rotateX(90deg); /* Tropic of Capricorn 
}*/

/* Keyframe animation for the 3D spin */
@keyframes spin {
  0% {
    transform: rotateX(15deg) rotateY(0) rotateZ(15deg);
  }
  50% {
    transform: rotateX(-15deg) rotateY(180deg) rotateZ(-15deg);
  }
  100% {
    transform: rotateX(15deg) rotateY(360deg) rotateZ(15deg);
  }
}

@media (width < 769px) {
  section{
    flex-direction: column;
  }
  
  .decorative{
    width : 100%;
    height: 20svh;
  }

  .info{
    width: 100%;
    height: 80svh;
  }
}